.Box {
    display: flex;
    flex-direction: column;
    height: 60vh; 
    width: 80vh;
    margin: 10px;
    border: 2px dashed black;
    text-align: center;
    overflow: scroll;
    scrollbar-color: black;
  }
  
.Button {
    color: white; 
    background-color: black; 
    height: 40px; 
    width: 120px;
    font-family: sans-serif;
    font-size: large;
}

img {
    margin: 10px;
}
